@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* Breakpoint <576px */
@media (max-width: 575px) {
  .container {
    max-width: 95%;
  }
}

/* Breakpoint ≥576px */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Breakpoint ≥768px */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Breakpoint ≥992px */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Breakpoint ≥1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Breakpoint ≥1400px */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}